body {
    background-color: blanchedalmond;
    font-family: sans-serif;
    color: black;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

header {
  background-color:  rgb(230,190,138);
}

h1 {
  color: saddlebrown;
  font-family: serif;
  font-size: 33px;
  text-align: center;
    padding: 20px;
}

h2 {
  font-size: 30px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio, #bio-image, #contact-info {
    float: left;
}

#bio-image {
    width: 200px;
    margin-right: 20px;
}

#main-bio {
  width: 70%;
  line-height: 150%;
}

#contact-info {
  width: 30%;
  line-height: 150%;
}

a {
  color: blue;
}

#footer {
    font-family: serif;
    line-height: 27px;
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgb(230,190,138);
    color: saddlebrown;
}